USE [master]
GO
/****** Object:  Database [SnackDelivery]    Script Date: 6/22/2023 10:44:00 AM ******/
CREATE DATABASE [SnackDelivery]
GO
USE [SnackDelivery]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/22/2023 10:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[phoneNumber] [varchar](50) NULL,
	[isAdmin] [bit] NULL,
	[deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/22/2023 10:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NULL,
	[staffId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/22/2023 10:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NULL,
	[productId] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/22/2023 10:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[price] [float] NULL,
	[discount] [float] NULL,
	[deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [name], [phoneNumber], [isAdmin], [deleted]) VALUES (1, N'John Doe', N'1234567890', 1, 0)
INSERT [dbo].[Account] ([id], [name], [phoneNumber], [isAdmin], [deleted]) VALUES (2, N'Jane Smith', N'9876543210', 1, 0)
INSERT [dbo].[Account] ([id], [name], [phoneNumber], [isAdmin], [deleted]) VALUES (3, N'Alice Johnson', N'5555555555', 1, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [orderDate], [staffId]) VALUES (1, CAST(N'2023-06-15T09:00:00.000' AS DateTime), 4)
INSERT [dbo].[Order] ([id], [orderDate], [staffId]) VALUES (2, CAST(N'2023-06-15T09:30:00.000' AS DateTime), 4)
INSERT [dbo].[Order] ([id], [orderDate], [staffId]) VALUES (3, CAST(N'2023-06-15T13:45:00.000' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([id], [orderId], [productId], [quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrderDetails] ([id], [orderId], [productId], [quantity]) VALUES (2, 1, 3, 1)
INSERT [dbo].[OrderDetails] ([id], [orderId], [productId], [quantity]) VALUES (3, 2, 2, 3)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [price], [discount], [deleted]) VALUES (1, N'Mac and Cheese', 5.99, 10, 0)
INSERT [dbo].[Product] ([id], [name], [price], [discount], [deleted]) VALUES (2, N'Popcorn', 3.49, 0, 0)
INSERT [dbo].[Product] ([id], [name], [price], [discount], [deleted]) VALUES (3, N'Pizza', 9.99, 0.25, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
USE [master]
GO
